
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}


@model Category

@using (Html.BeginForm(MyActionName.Index.ToString(), "Category", FormMethod.Post))
{
    @Html.ValidationMessageFor(x=>x.CategoryName,"",new {@class="text-danger"})
    <br />
    @Html.Label("Category Name")
    <br />
    @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
    <br />
    <button type="submit" class="btn btn-primary">Save</button>
}
<br />
@Html.Action("GetPartialViews", "Category") 
