
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}

@model About

<div class="container">
    <h1>@Model.AboutTitle</h1>
    <hr />
    <br />
    <h1>@Model.AboutContent</h1>
</div>
