
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}

@model Blog

<div class="container">
    <h1>@Model.BlogTitle</h1>
    <hr />
    <br />
    <h1>@Model.BlogContent</h1>
</div>

